- return unless show_exact_code_search_settings?(@user)

= render ::Layouts::SettingsSectionComponent.new(id: 'enabled_following',
  options: { class: 'js-preferences-form' }) do |c|
  - c.with_heading do
    = s_('Preferences|Exact code search')
    = gl_badge_tag _('beta'), variant: :info
  - c.with_description do
    = s_('Preferences|Use exact code search instead of advanced search to search for code in GitLab.')
    = link_to _('Learn more.'), help_page_path('user/profile/preferences.md', anchor: 'disable-exact-code-search'), target: '_blank', rel: 'noopener noreferrer'
  - c.with_body do
    .form-group
      = form.gitlab_ui_checkbox_component :enabled_zoekt,
        s_('Preferences|Enable exact code search')

    %p= link_button_to _('Provide feedback'), "https://gitlab.com/gitlab-org/gitlab/-/issues/420920", target: '_blank'
